# --- Arquivos de entrada/saída ---
CAMINHO_PRINCIPAL=TAS_Infra.xlsx
CAMINHO_AUXILIAR=
CAMINHO_SAIDA=planilha_principal_com_ddd.xlsx

# --- Banco de dados MariaDB ---
DB_HOST=
DB_PORT=
DB_USER=
DB_SENHA=
DB_NOME=
DB_TABELA=
